*{
	margin: 0px 0px;
}
.container{
	width: 75%;
	margin: 0px auto;
}
body{
	margin-bottom: 200px;
}
header{
	display: flex;
	justify-content: space-between;
	padding: 20px 0px;
}
header nav ul{
	display: flex;
}
header nav ul li{
    list-style-type: none;
    margin-left: 20px;
    font-size: 20px;
    color: hsl(204deg 13% 41%);
}
#for-banner hr{
	height: 5px;
	background-color: hsl(360deg 100% 61%);
	border: none;
	width: 100%;
	margin-top: -4px;
}
#for-image img{
	margin-left: 50%;
}
#for-rupees{
	display: flex;
	justify-content: space-between;
}
.for-menu{
	display: flex;
	justify-content: space-between;
}
.for-menu{
	width: 45%;
}
.for-menu hr{
	width: 40%;
	margin-top: 12px;
	height: 0px;
}