*{
	margin: 0px;
	font-family: sans-serif;
}
header{
	display: flex;
	background-color: black;
}
.container{
	width: 85%;
	margin: 0 auto;
}
nav ul{
	display: flex;
}
nav ul li{
	color: #a7a7a7;
	margin-right: 2.813rem;
    list-style-type: none;
}
#container{
	display: flex;
	justify-content: space-between;
}
#sub-header{
	display: flex;
	justify-content: space-between;
	padding: 1.25rem 0px 1.25rem 0px;
	align-items: center;
}
#introduction-section{
	height: 600px;
	background-image: url('../images/image.png');
	background-attachment: fixed;
}
#introduction-section img{
	margin: 6.563rem 0px 0px 0px;
}
#para-1{
	color: white;
	font-size: xx-large;
    width: 100%;
    margin-top: 1.25rem;
    width: 45%;
}
#introduction-sub-section hr{
	width: 65px;
    margin-top: 1.25rem;
}
#para-2{
	font-size: larger;
    margin-top: 1.563rem;
    color: hsl(40deg 2% 63%);
}
#b1{
	background: transparent;
	color: white;
	border: 1px solid white;
	padding: 0.938rem 2.5rem;
    margin-top: 2.188rem;
    font-size: 1.25rem;
}
#right-container{
	background: white;
	width: 380px;
	border-radius: 30px;
}
#right-header{
	background: #f5f5f5;
	text-align: center;
	padding: 0.938rem 0px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
#right-header h2 span{
	color: #fe9a58;
}
#right-body{
	padding-right: 1.25rem;
	padding-left: 1.25rem;
	margin: 2.063rem 0px;
}
#right-body input{
	width: 100%;
	padding: 0.25rem 1.25rem;
	border: none;
	border-bottom: 1px solid #d6d6d6;
	box-sizing: border-box;
	margin-bottom: 1.875rem;
	font-size: 0.938rem;
}
#right-footer button{
	border: none;
	margin-top: -1.25rem;
	background-color: hsl(28deg 82% 62%);
	color: white;
	width: 100%;
	padding: 1.25rem 0.625rem;
	font-size: 1.125rem;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
#introduction-sub-section{
	align-items: center;
	height: 100%;
}
#introduction-sub-section-1{
	flex-wrap: wrap;
	align-self: flex-end;
}
#sub-section-heading{
	width: 30%;
	margin-left: 8.5rem;
}
#section-heading{
	width: 70%;
}
#introduction-sub-section-2{
	flex-basis: 100%;
	display: flex;
	justify-content: flex-end;
}
#right-container{
	margin-top: -22.063rem;
	height: 100%;
}
#para{
	color: hsl(220deg 2% 67%);
	margin-left: 6.25rem;
}
#para p{
	margin-top: 0.313rem;
}
#social-heading{
	margin-left: 6.25rem;
	flex-basis: 40%;
	margin-top: 1.25rem;
}
#main-social{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid hsl(0deg 0% 72%);
	flex-basis: 100%;
}
#social-image{
	margin-top: 2.5rem;
	margin-right: 6.25rem;
}
#social-container{
	width: 100%;
}

#tab{
	padding-top: 7.5rem;
	background-color: hsl(0deg 0% 96%);
	height: 480px;
	margin-bottom: 8.125rem;
}
#tab-1{
	color: white;
	background-color: hsl(28deg 83% 56%);
	padding: 2.5rem 1.25rem 2.5rem 1.25rem;
	margin-bottom: 1px;
	width: 90px;
}
#tab-2{
	color: white;
	background-color: black;
	padding: 2.5rem 1.25rem 2.5rem 1.25rem;
	margin-bottom: 1px;
	width: 90px;
}
#tab-3{
	color: white;
	background-color: black;
	padding: 2.5rem 1.25rem 2.5rem 1.25rem;
	width: 90px;
}
#heading-3 {
	margin-left: 13.75rem;
	height: 100px;
	margin-top: -19.688rem;
	width: 513px;
}
#tab-para{
	color: hsl(240deg 2% 77%);
	margin-top: 3.125rem;
}
#tab-para p{
	margin-bottom: 1.875rem;
}
#tab-para button{
	background-color: hsl(28deg 83% 56%);
	color: white;
	border: none;
    border-radius: 5px;
    padding: 0.938rem 2.188rem 0.938rem 2.188rem;
}
#tab-para img{
    margin-left: 40rem;
    margin-top: -14.938rem;
}
.common-line{
	margin: 1.875rem 0px 2.188rem 8.75rem;
    width: 75px;
}
#line{
	width: 75px;
	margin: 1.875rem 0px 2.188rem 0px;
	background-color: hsl(28deg 83% 56%);
	padding: 1px 0px;
    border: none;
}
.common-line hr{
	padding: 0.063rem 0.125rem 0.125rem 0.125rem;
	background-color: hsl(28deg 83% 56%);
	border: none;
}
.disp{
	display: flex;
	justify-content: space-between;
}
#sub-section-1 i{
	color: hsl(28deg 83% 56%);
	border: 1px solid;
    border-width: 2px;
    border-radius: 50%;
    padding: 0.5rem;
    margin: 2.875rem 0px 0px 10.25rem;
}
#paragraph-1{
	width: 70%;
	color: hsl(225deg 2% 60%);
	margin-left: 1.875rem;
	margin-bottom: -1.313rem;
}
#paragraph-2{
	color: hsl(225deg 2% 60%);
	width: 70%;
	margin-left: 14.688rem;
}
#section{
	display: flex;
	justify-content: flex-end;
}
#heading-1{
	width: 20%;
	margin: 2.813rem 0px 0.688rem 1.875rem;
    font-size: 0.813rem;
}
#heading-2{
	width: 20%;
	margin: -2.188rem 0px 0.688rem 14.688rem;
    font-size: 0.813rem;
}
#paragraph{
	width: 70%;
    margin-left: 8.75rem;
    color: hsl(228deg 2% 54%)
}
#paragraph-5{
	margin: 1.875rem 0px 1.25rem 0px;
	color: hsl(225deg 2% 60%);
	width: 490px;
}
#sub-paragraph-5{
	margin: 1.875rem 0px 1.25rem 0px;
	color: hsl(225deg 2% 60%);
	width: 490px;
}
#image{
	width: 40%;
	margin-top: -1.25rem;
}
#main-section{
 display: flex;
 justify-content: space-between;
 height: 300px;
}
#main-scc{
 background-color: hsl(0deg 0% 96%);
 padding: 8.125rem 0px;
}
.common-heading-2{
	font-size: 2.125rem;
    font-weight: 400;
    margin-top: 6.25rem;
    padding-bottom: 1.063rem;
    text-align: center;
}
#paragraph-2{
	color: hsl(225deg 2% 60%);
	width: 50%;
	margin-left: 14.5rem;
	margin-bottom: 5rem;
}
#paragraph-6{
	color: hsl(225deg 2% 60%);
	width: 50%;
	margin-left: 24.063rem;
	margin-bottom: 5rem;	
}
#awesome-container hr{
	width: 70px;
	margin-left: 33.125rem;
	margin-bottom: 1.063rem;
	background-color: hsl(28deg 83% 56%);
	border: none;
	padding: 0.063rem 0.063rem;
}
.common-heading{
	font-size: 1.375rem;
	margin-bottom: 1.25rem;
	width: 90%;
	text-align: center;
}
.image{
	text-align: center;
	width: 90%;
	margin-bottom: 1.25rem;
}
#skills-container{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 7.5rem;
}
#skills-container .skills-items{
	flex-basis: 30%;
}
#skills-container .skills-items h4{
	margin: 1.25rem 0px;
}
#pricing-main-section{
	background: #f5f5f5;
    padding: 6.25rem 0px;
    text-align: center;
	margin-top: 4.375rem;
}
#package-container{
	display: flex;
	justify-content: space-between;
	margin-top: 5rem;
	align-items: flex-end;
}
.package-items{
	flex-basis: 28%;
}

.package-heading{
	background: #333333;
	color: white;
	padding: 0.5rem 0px;
    border-bottom: 1px solid white;
}
.package-heading h3{
	font-size: 1.375rem;
    
}

.package-middle-section{
	background: #333333;
	color: white;
	padding: 2.5 0px 1.25rem 0px;
}

.package-middle-section h3{
	font-size: 3.438rem;
	
}

.package-middle-section h3 span{
	font-size: 1.875rem;
}
.package-middle-section p{
	font-size: 0.875rem;
	margin-top: 1.25rem;
}
.package-rating{
	background: #ff8b38;
	height: 7px;
}
.package-body{
	background: white;
}
.package-body-items{
	list-style-type: none;
	padding: 0.625rem 0px;
	
	border-bottom: 1px solid #f5f5f5;
}
.package-rating-active{
	height: auto;
	padding: 0.313rem 0px;
	color: white;
	font-weight: 600;
}
.common-heading-2{
	font-size: 2rem;
    
    margin-bottom: 1.25rem;
}
.common-heading-seperator-2{
	border: 1px solid #ff8b38;
    width: 10%;
    margin-bottom: 1.563rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;
}
.common-paragraph{
	color: #86878b;
	font-size: 1.125rem;
	text-align: center;
	padding-bottom: 0.938rem;
}
.para-back-color{
	color: #86878b;
	background-color: hsl(0deg 0% 96%);
	width: 82%;
	text-align: left;
	margin-top: 2.813rem;
	padding: 1.563rem 0.938rem;
	border-radius: 18px;
}
#main-div{
	display: flex;
	justify-content: space-between;
}
.image-bottom{
	margin: 0px 0px 0px 2.188rem;
}
.sub-main-avatar{
	display: flex;
	justify-content: flex-start;
	flex-basis: 18%;
	align-items: center;
}
.main-avatar{
	display: flex;
	justify-content: space-between;
	margin-bottom: 6.25rem;
}
.sub-main-avatar div:nth-child(1){
	margin-right: 1.25rem;
}
#stylish-axure-design{
    height: 380px;
    background: url(../images/u25_state0.png) no-repeat;
    background-size: cover;
    padding: 7.5rem 0px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 6.25rem;
}
#common-heading-2{
	font-size: 2.125rem;
    font-weight: 400;
    padding-bottom: 1.063rem;
    text-align: center;	
}
#common-heading-seperator-2{
	border: 1px solid #ff8b38;
    width: 10%;
    margin-bottom: 1.563rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;	
}
#common-paragraph{
	color: #86878b;
	font-size: 1.125rem;
	text-align: center;
	margin-bottom: 1.563rem;
}
#stylish-axure-design button{
	background-color: transparent;
	color: white;
	border: 2px solid white;
    padding: 0.625rem 2.188rem 0.625rem 2.188rem
}
#form-main-section{
	display: flex;
	justify-content: space-between;
}
.input-control{
	border: none;
	border-bottom: 1px solid #d6d6d6;
	width: 100%;
	margin-bottom: 3.125rem;
	padding: 0.5rem 0px 0.5rem 0.625rem;
	color: #d6d6d6;
}
#main-text-area-input-control{
	flex-basis: 48%;
}
.text-area-input-control{
	width: 100%;
    border: none;
    border-bottom: 1px solid #d6d6d6;
	padding-top: 0.625rem;
	height: 11.5rem;
	resize: none;
}
#button{
    background-color: hsl(28deg 83% 56%);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.938rem 2.188rem 0.938rem 2.188rem;
    margin: 2.188rem 6.25rem 4.375rem -5.375rem;
}
#footer-image{
	text-align: center;
	background-color: black;
	padding: 1.875rem 0px;
}


@media(max-width: 1030px){
	#introduction-sub-section-2{
		flex-direction: column;
		padding: 2.5rem 0px;
		margin-left: 16.25rem;
	}
		#introduction-section{
		height: auto;
	}
	#introduction-sub-section-1{
		margin-bottom: 1.875rem;
		text-align: center;
	}
	#introduction-sub-section-1 hr{
		margin-left: 25rem;
	}
	#main-section{
		flex-direction: column;
	}
	#right-container {
    	margin-top: 0px;
    	height: 100%;
	}
	#main-social{
		flex-direction: column;
		margin-left: 0px;
	}
	#social-image {
		width: 100%;
		text-align: center;
		margin-left: 40px;
    	margin-bottom: 15px;
	}
	#social-heading {
		width: 100%;
		text-align: center;
		margin-left: 3.438rem;
	}
	#social-container {
		text-align: center;
	}
	#section {
		flex-direction: column;
	}
	#para-1{
		width: 100%;
	}
	#tab-para img{
		margin-left: 365px;
	}
	#tab-para{
		width: 60%;
	}
	#sub-section-heading{
		margin-left: 0px;
		width: 100%;
    	text-align: center;
	}
	.common-line hr{
		margin-left: 14.563rem;
    	width: 100px;
	}
	#paragraph{
		margin-left: 0px;
		width: 100%;
    	text-align: center;
	}
	#sub-section-1 i{
		margin: 2.875rem 0px 0px 0px;
	}
	#paragraph-2{
		margin-left: 4.5rem;
		width: 100%;
    	text-align: center;
	}
	#paragraph-1{
		width: 100%;
    	text-align: center;	
	}
	#heading-1{
		width: 100%;
    	text-align: center;
	}
	#heading-2{
		margin: -2.188rem 0px 0.688rem 3.125rem;
		width: 100%;
    	text-align: center;
	}
	#sub{
		width: 100%;
		text-align: center;
	}
	/*#sub-section-1 {
		width: 100%;
		text-align: center;
	}*/
	/*.itag i{
		width: 100%;
		text-align: center;
	}*/
}