*{
    margin: 0px auto;
    font-family: sans-serif;
}
nav ul{
    position: fixed;
    background-color: #3a4043;
    color: #fff;
    width: 15%;
    padding-top: 10px;
    font-weight: 800;
    height: 100%;
    list-style-type: none;
}
nav ul li{
    padding: 20px 0px 0px 0px;
    font-size: 18px;
}
nav ul li:hover{
    color: #5d676c;
}
nav ul li span:hover{
    color: white;
}
nav ul li span{
    color: #5d676c;
}
#paragraph-1{
    width: 76%;
    margin-left: 240px;
    color: white;
    padding: 170px 40px;
    background: #69D2E7;
}
#paragraph-1 p{
    width: 87%;
    margin-left: 40px;
    font-size: 17px;
    margin-top: 13px;
}
#paragraph-1 h2{
    font-weight: 700;
    margin-left: 40px;
    font-size: 32px;
}
#paragraph-2{
    width: 76%;
    margin-left: 240px;
    color: white;
    padding: 170px 40px;
    background: #F9D423;
}
#paragraph-2 p{
    width: 87%;
    margin-left: 40px;
    font-size: 17px;
    margin-top: 13px;
}
#paragraph-2 h2{
    font-weight: 700;
    margin-left: 40px;
    font-size: 32px;
}
#paragraph-3{
    width: 76%;
    margin-left: 240px;
    color: white;
    padding: 170px 40px;
    background: #F38630;
}
#paragraph-3 p{
    width: 87%;
    margin-left: 40px;
    font-size: 17px;
    margin-top: 13px;
}
#paragraph-3 h2{
    font-weight: 700;
    margin-left: 40px;
    font-size: 32px;
}
#paragraph-4{
    width: 76%;
    margin-left: 240px;
    color: white;
    padding: 170px 40px;
    background: #FF4E50;
}
 #paragraph-4 p{
    width: 87%;
    margin-left: 40px;
    font-size: 17px;
    margin-top: 13px;
 }
 #paragraph-4 h2{
    font-weight: 700;
    margin-left: 40px;
    font-size: 32px;
}
