*{
    margin: 0px auto;
    font-family: sans-serif;
    background-color: rgb(0 255 255);
}
body{
    width: 100%;
    text-align: center ;
    margin-top: 100px;
}
#btn_1{
    color: lightcoral;
    width: 20%;
    background-color: black;
    border: 6px solid red;
    padding: 10px 0px;
    border-radius: 20px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
    font-size: 17px;
}
#btn_1:hover{
    background-color: gray;
    color: honeydew;
    border: 6px solid green;
}
#btn_2{
    color: lightcoral;
    width: 20%;
    background-color: black;
    border: 6px solid red;
    padding: 10px 0px;
    border-radius: 20px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
    font-size: 17px;
}
#btn_2:hover{
    background-color: gray;
    color: honeydew;
    border: 6px solid green;
}
#btn_3{
    color: lightcoral;
    width: 20%;
    background-color: black;
    border: 6px solid red;
    padding: 10px 0px;
    border-radius: 20px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
    font-size: 17px;
}
#btn_3:hover{
    background-color: gray;
    color: honeydew;
    border: 6px solid green;
}
#btn_4{
    color: lightcoral;
    width: 20%;
    background-color: black;
    border: 6px solid red;
    padding: 10px 0px;
    border-radius: 20px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
    font-size: 17px;
}
#btn_4:hover{
    background-color: gray;
    color: honeydew;
    border: 6px solid green;
}
#btn_5{
    color: lightcoral;
    width: 20%;
    background-color: black;
    border: 6px solid red;
    padding: 10px 0px;
    border-radius: 20px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
    font-size: 17px;
}
#btn_5:hover{
    background-color: gray;
    color: honeydew;
    border: 6px solid green;
}
#btn_6{
    color: lightcoral;
    width: 20%;
    background-color: black;
    border: 6px solid red;
    padding: 10px 0px;
    border-radius: 20px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
    font-size: 17px;
}
#btn_6:hover{
    background-color: gray;
    color: honeydew;
    border: 6px solid green;
}
#btn_7{
    color: lightcoral;
    width: 20%;
    background-color: black;
    border: 6px solid red;
    padding: 10px 0px;
    border-radius: 20px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
    font-size: 17px;
}
#btn_7:hover{
    background-color: gray;
    color: honeydew;
    border: 6px solid green;
}
@media (max-width: 350px){
    #btn_1{
        width: 80%;
    }
    #btn_2{
        width: 80%;
    }
    #btn_3{
        width: 80%;
    }
    #btn_4{
        width: 80%;
    }
    #btn_5{
        width: 80%;
    }
    #btn_6{
        width: 80%;
    }
    #btn_7{
        width: 80%;
    }
}