*{
	font-family: sans-serif;
	margin: 0px auto;
}
body{
	margin-bottom: 100px;
}
.nav-items:hover{
	background-color: red;
	transition-duration: 2s;
}
header{
	background-color: black;
	width: 100%;
}
header h1{
	color: white;
	font-size: 80px;
	font-weight: 100;
	text-align: center;
	padding-top: 120px;
}
header h2{
	color: hsl(33deg 100% 45%);
	text-align: center;
	font-weight: 100;
	padding-bottom: 100px;
}
#click-section{
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 10px 0px;
	background-color: hsl(49deg 100% 50%);
}
.jack-paragraph img{
	margin-top: 30px;
	margin-left: 40px;
}
.jack-paragraph h2{
	text-align: center;
	width: 640px;
	margin-left: 40px;
	background-color: hsl(49deg 100% 50%);
	margin-top: -5px;
	padding: 22px 0px;
}
.jack-paragraph p{
	width: 605px;
	margin-left: 40px;
	margin-bottom: 25px;
	padding: 30px 5px 15px 30px;
	background-color: white;
}
#jack-main-section{
	width: 75%;
	display: flex;
	justify-content: space-between;
}
.jack-image img{
	margin-left: 20px;
	margin-top: 50px;
	width: 95%;
	height: 165%;
}
#click-section h3{
	width: 0%;
	text-align: center;
}
.right-section-1{
	background-color: white;
    align-items: flex-start;
    width: 120%;
    padding-right: 10px;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.right-section-1 h2{
	padding-bottom: 12px;
	margin-top: 2px;
}
.right-section-1 h3{
	margin-top: 15px;
	margin-left: 20px;
}
#for-right-section{
	display: flex;
	width: 100%;
	background-color: hsl(0deg 0% 90%);
	justify-content: space-between;
}
aside{
	margin-right: 140px;
	margin-top: 70px;
}
.jack-image h2{
	background-color: hsl(49deg 100% 50%);
	width: 95%;
	margin-left: 20px;
	text-align: center;
    padding: 25px 0px;
    margin-top: -4px;
}
.jack-image{
	margin-bottom: -961px;
	height: 30%;
}
.jack-image p{
	margin-left: 20px;
	background-color: white;
	padding: 40px 40px 30px 40px;
	font-size: 17px;
	color: hsl(0deg 0% 25%);
	width: 520px;
	margin-bottom: -55px;
}
#right-section-2{
	margin-top: 35px;
	margin-bottom: 40px;
}
.para{
	margin-bottom: 90px;
}
#main-sherlock{
	display: flex;
	justify-content: space-between;
	background-color: hsl(0deg 0% 90%);
}
#sherlock-image-1{
	width: 84%;
	margin-top: 20px;
	margin-left: 32px;
}
#sherlock-image-2{
	width: 90%;
	margin-top: 20px;
	margin-left: 0px;
}
#sherlock-image-3{
	width: 90%;
	margin-top: 20px;
	margin-left: -25px;
}
.sherlock-image{
	text-align: center;
	margin-left: 12%;
}
#for-the-ugly h2{
	background-color: hsl(49deg 100% 50%);
    width: 395px;
    margin-left: 31px;
    text-align: center;
    padding: 25px 0px;
    margin-top: -4px; 
}
#for-the-ugly{
	margin-bottom: 25px;
}
#for-the-ugly p{
	margin-left: -3px;
	width: 393px;
	padding-top: 0px;
	padding-bottom: 7px;
	padding-left: 35px;
	padding-right: 0px;
}
#for-the-sherlock h2{
	background-color: hsl(49deg 100% 50%);
    width: 392px;
    text-align: center;
    padding: 25px 0px;
    margin-top: -4px;
    margin-left: 20px;
}
#for-the-sherlock p{
	margin-left: -3px;
	width: 393px;
	padding-top: 0px;
	padding-bottom: 7px;
	padding-left: 35px;
	padding-right: 0px;
}
#for-the-joker h2{
	background-color: hsl(49deg 100% 50%);
    width: 390px;
    margin-left: -20px;
    text-align: center;
    padding: 25px 0px;
    margin-top: -4px;
}
#for-the-joker p{
	margin-left: -3px;
	width: 393px;
	padding-top: 0px;
	padding-bottom: 7px;
	padding-left: 35px;
	padding-right: 0px;
}
#main-para-1{
	background-color: white;
	padding-top: 32px;
	width: 396px;
	margin-left: 30px;
	padding-bottom: 14px;	
}
#main-para-2{
	background-color: white;
	padding-top: 32px;
	width: 391px;
	margin-left: 20pxpx;
	padding-bottom: 15px;
}
#main-para-3{
	background-color: white;
	padding-top: 32px;
	width: 389px;
	margin-left: -20px;
	padding-bottom: 17px;
}
#main-mission-impossible{
	padding-left: 30px;
	padding-bottom: 100px;
	background-color: hsl(0deg 0% 90%);
}
#main-mission-impossible img{
	width: 1244px;
}
#main-mission-impossible h2{
	width: 1244px;
	margin-left: 0px;
	text-align: center;
	margin-top: -5px;
	padding: 20px 0px;
	background-color: hsl(49deg 100% 50%);
}
#main-mission-impossible p{
	width: 1188px;
	margin-left: 0px;
	padding: 35px 0px 30px 56px;
	background-color: white;
}
#right-section-3{
	background-color: white;
	padding: 40px 77px 39px 47px;
	width: 86%;
	    margin-left: -35px;
}
#right-section-3 p{
	margin-top: 10px;
}
#right-section-4 p{
	margin-top: 10px;
}
#right-section-5 p{
	margin-top: 10px;
}
#right-section-6 p{
	margin-top: 10px;
}